html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Navbar */
/* ---------------------------------------- */

.header {
  width: 100%;
  height: 100%;
  background: url(../images/topback.jpg);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-color: rgba(13, 105, 145, 1);
  text-align: center;
  position: relative;
  position: fixed;
  top: 0;
  overflow: hidden;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1;
}

.header h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  color: #fff;
  line-height: 230px;
  text-transform: uppercase;
  font-weight: 100;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 768px) {
  .header h1 {
    font-size: 2em;
    color: #fff;
    line-height: 1.25em;
    text-transform: uppercase;
    font-weight: 100;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .header h2 {
    font-family: 'Open Sans', sans-serif;
    margin: 0.5em;
    font-size: 1.5em;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.header .navb {
  position: absolute;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: #0b4f6c;
}

.header .navb a {
  color: #fff;
  display: inline-block;
  padding: 0.5% 1%;
  line-height: 1;
  font-size: 24px;
  text-decoration: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.header .navb a:hover {
  -moz-box-shadow: 0 0 0 1px #fff;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
}

.popupMenu a {
  color: rgb(255, 255, 255);
  display: block;
  border: black;
  border-radius: 5%;
  line-height: 1;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  padding: 1% 2%;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.popupMenu a:hover {
  background-color: rgba(13, 105, 145, 0.75);
}

.popupMenu {
  display: none;
}

.popupMenu.responsive {
  display: inline-block;
  position: fixed;
  padding: 50% 0;
  background-color: rgba(13, 105, 145, 0.75);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .header .navb {
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background-color: #0b4f6c;
  }

  .header .navb a {
    display: none;
  }

  .container {
    float: left;
    top: 50%;
    cursor: pointer;
    padding-top: 0.7em;
    padding-left: 0.8em;
    padding-bottom: 0.7em;
    padding-right: 0.8em;
  }

  .container:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
  }

  .hamburger1,
  .hamburger2,
  .hamburger3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .hamburger1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .hamburger2 {
    opacity: 0;
  }

  .change .hamburger3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

/* Sticky Header Style */
/* ---------------------------------------- */
body.sticky-header {
  padding-top: 100px;
}

body.sticky-header .header {
  height: 60px;
  background-color: rgba(13, 105, 145, 1);
}

body.sticky-header .header h1 {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

body.sticky-header .header h2 {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

/* Header without picture */
/* ---------------------------------------- */

.headerNoPic {
  width: 100%;
  height: 60px;
  background-color: rgba(13, 105, 145, 1);
  text-align: center;
  position: relative;
  top: 0;
  overflow: hidden;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1;
}

.headerNoPic .navb {
  position: absolute;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: #0b4f6c;
}

.headerNoPic .navb a {
  color: #fff;
  display: inline-block;
  padding: 0.5% 1%;
  line-height: 1;
  font-size: 24px;
  text-decoration: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.headerNoPic .navb a:hover {
  -moz-box-shadow: 0 0 0 1px #fff;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
}

/* Text */
/* ---------------------------------------- */

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 25.3px;
}

h2 {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 2;
  color: #2c3e50;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 18.7px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 2rem;
  color: #7f8c8d;
  padding: 1%;
}

blockquote {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 24.2833px;
}

pre {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 15.7167px;
}

/* Misc */
/* ---------------------------------------- */

#wSpace {
  padding-top: 5%;
}

@media only screen and (max-width: 768px) {
  #wSpace {
    padding-top: 15%;
  }
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

section {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

/* Footer */
/* ---------------------------------------- */

.footer {
  display: block;
  background-color: #0b4f6c;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  box-sizing: inherit;
}

.footer-wrapper {
  width: 100%;
  box-sizing: inherit;
  align-items: center;
  box-sizing: border-box;
}

.footer-upper {
  background-color: #0b4f6c;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0.5%;
  padding-bottom: 2%;
  box-sizing: border-box;
}

.footer-logo {
  padding-inline-end: 15%;
  padding-bottom: 0;
}

.ddb-footer-logo-image {
  display: block;
  background-image: url("../images/footer.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 64px;
  width: 200px;
}

.footer-logo-byline {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  color: #979AA4;
  text-align: center;
}

.footer-lower {
  background-color: #09374b;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding: 1%;
  box-sizing: border-box;
}

.footer-list {
  list-style: none;
  list-style-image: none;
  margin: 0;
  box-sizing: border-box;
}

.ddb-footer-list-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
}

.ddb-footer-list-item a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .ddb-footer-logo-image {
    background-size: 100%;
    height: 32px;
    width: 100px;
  }

  .footer-logo-byline {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size: 10px;
    color: #979AA4;
    text-align: center;
  }

  .ddb-footer-list-item a {
    font-size: 11px;
  }

  .ddb-footer-list-label {
    font-size: 12px;
    padding-bottom: 4px;
  }

  .footer-logo {
    padding-inline-end: 1%;
    padding-bottom: 0;
  }
}

/* Bildspel */
/* ---------------------------------------- */

.bildspel {
  position: fixed;
  height: auto;
  width: auto;
  display: none;
}

#startStop {
  position: absolute;
  margin-top: 2%;
  float: right;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: 0.4
  }

  to {
    opacity: 1
  }
}

/* Profilsida */
/* ---------------------------------------- */


#pTxt {
  margin-left: 30%;
  margin-right: 30%;
}

.pImg2 {
  border-radius: 50%;
  margin-top: 25%;
  margin-right: 10%;
}

.imgDiv {
  margin: 4%;
}

.txt1 {
  margin: 4%
}

.img1 {
  border-radius: 50%;
}

.img1:hover {
  opacity: 0.5;
}

.profilHead {
  text-align: center;
}

.divPersonInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10%;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.774);
}

.personTop {
  position: initial;
  height: 70%;
  width: 100%;
}

.topL {
  margin-left: 2%;
  float: left;
  width: 45%;
}

.topR {

  float: right;
  width: 45%;
}

.personBottom {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 100%;
}

.java-info {
  border: solid;
  position: absolute;
  visibility: hidden;
  margin-left: 40%;
  width: 20%;
  background-color: white;
}

.sql-info {
  position: absolute;
  visibility: hidden;
  width: 10%;
  background-color: white;
}

.divBottomL {
  width: 50%;
  padding-bottom: 3%;
}

.divBottomR {
  width: 50%;
  padding-bottom: 3%;
}

.barProgress {
  box-sizing: border-box;
  margin-left: 2%;
  width: 80%;
  height: 12%;
  border: solid;
  border-width: 2px;
  border-radius: 15px;
  background-color: white;
}

.barTxt {
  box-sizing: border-box;
  font-size: 12;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%;
}

#centerTxt {
  text-align: center;
  position: relative;
  font-size: 16px;
}

.navProfil {
  position: absolute;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: #0b4f6c;
}

.navProfil a:hover {
  -moz-box-shadow: 0 0 0 1px #fff;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
}

/* Läs mer om Oss */
/* ---------------------------------------- */

.profilDiv {
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#omOss {
  text-align: center;
  line-height: 0;
  padding-top: 3%;
}

.imgDiv {
  margin: 4%;
}

.img1 {
  border-radius: 50%;
  width: 100%;
  z-index: -2;
}

.img1:hover {
  opacity: 0.5;
  z-index: -1;
}

.prof-byline {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  color: rgb(0, 0, 0);
  text-align: center;
}

.prof-descr {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  color: rgb(0, 0, 0);
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .imgDiv {
    margin: 1%;
  }

  .prof-byline {
    font-size: 18px;
  }

  .prof-descr {
    font-size: 12px;
  }
}

/* Information om oss */
/* ---------------------------------------- */

.underRubrik {
  text-align: center;
  line-height: 0;
  padding-top: 3%;
}

.personNamn {
  margin-left: 1%;
  text-align: center;
}

.personInfo {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: 20%;
  margin-right: 20%;
}

@media only screen and (max-width: 1400px) {
  .personInfo {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.personInfoT {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.personInfoTL {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 120em;
}

.personInfoTR {
  display: block;
  width: 100%;
  height: auto;
}

.personInfoTRMob {
  display: none;
}

#alvJoh {
  background-image: url("../images/alvin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15%;
  background-color: #ffffff;
}

#alvJoh1 {
  background-image: url("../images/alvin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15%;
  background-color: #ffffff;
}

#freBir {
  background-image: url("../images/frebir.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15%;
  background-color: #ffffff;
}

#freBir1 {
  background-image: url("../images/frebir.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15%;
  background-color: #ffffff;
}

#andSil {
  background-image: url("../images/andsil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15%;
  background-color: #ffffff;
}

#andSil1 {
  background-image: url("../images/andsil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15%;
  background-color: #ffffff;
}

.personInfoB {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.personInfoBsizePadding {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: 3%;
}

.barTitle {
  box-sizing: border-box;
  font-size: 12;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%;
}

.barRub {
  box-sizing: border-box;
  font-size: 12;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%;
}

.barProg {
  margin-left: 2%;
  height: 1.25em;
  border: solid;
  border-width: 2px;
  border-radius: 15px;
  background-color: white;
}

#aCProg {
  width: 80%;
  height: 100%;
  background-color: rgb(13, 105, 145);
  border-radius: 15px;
}

#aSQLProg {
  width: 65%;
  height: 100%;
  background-color: rgb(13, 105, 145);
  border-radius: 15px;
}

#aLinProg {
  width: 50%;
  height: 100%;
  background-color: rgb(13, 105, 145);
  border-radius: 15px;
}

#aBashProg {
  width: 45%;
  height: 100%;
  background-color: rgb(13, 105, 145);
  border-radius: 15px;
}

#progTxtC {
  text-align: center;
  position: relative;
  font-size: 16px;
  color: white;
}

#progTxtaSQL {
  text-align: center;
  position: relative;
  font-size: 16px;
  color: white;
}

#progTxtLin {
  text-align: center;
  position: relative;
  font-size: 16px;
  color: white;
}

#progTxtBash {
  text-align: center;
  position: relative;
  font-size: 16px;
  color: white;
}

#anJavaProg {
  width: 75%;
  height: 100%;
  background-color: rgb(13, 105, 145);
  border-radius: 15px;
}

#anPythonProg {
  width: 4%;
  height: 100%;
  background-color: rgb(13, 105, 145);
  border-radius: 15px;
}

#anUMLProg {
  width: 47%;
  height: 100%;
  background-color: rgb(13, 105, 145);
  border-radius: 15px;
}

#anSQLProg {
  width: 82%;
  height: 100%;
  background-color: rgb(13, 105, 145);
  border-radius: 15px;
}

#progTxtJava {
  text-align: center;
  position: relative;
  font-size: 16px;
  color: white;
}

#progTxtPython {
  text-align: center;
  position: relative;
  font-size: 16px;
  color: white;
}

#progTxtUML {
  text-align: center;
  position: relative;
  font-size: 16px;
  color: white;
}

#progTxtanSQL {
  text-align: center;
  position: relative;
  font-size: 16px;
  color: white;
}

#fJavaProg {
  width: 95%;
  height: 100%;
  background-color: rgb(13, 105, 145);
  border-radius: 15px;
}

#fCProg {
  width: 60%;
  height: 100%;
  background-color: rgb(13, 105, 145);
  border-radius: 15px;
}

#fUnityProg {
  width: 30%;
  height: 100%;
  background-color: rgb(13, 105, 145);
  border-radius: 15px;
}

#fSQLProg {
  width: 45%;
  height: 100%;
  background-color: rgb(13, 105, 145);
  border-radius: 15px;
}

#progTxtfJava {
  text-align: center;
  position: relative;
  font-size: 16px;
  color: white;
}

#progTxtfC {
  text-align: center;
  position: relative;
  font-size: 16px;
  color: white;
}

#progTxtfUnity {
  text-align: center;
  position: relative;
  font-size: 16px;
  color: white;
}

#progTxtfSQL {
  text-align: center;
  position: relative;
  font-size: 16px;
  color: white;
}



@media only screen and (max-width: 850px) {
  .personInfoTR {
    display: block;
    width: 0%;
    background-color: #ffffff;
  }

  .personNamn {
    display: none;
  }

  .personInfoTRMob {
    display: flex;
    width: 100%;
    height: 30em;
  }
}

@media only screen and (max-width: 768px) {

  .underRubrik {
    font-size: 2em;
    text-align: center;
    line-height: 0;
    padding-top: 3%;
  }

  .personNamn {
    line-height: 1.3;
    font-size: 2em;
    margin-left: 1%;
  }

  .personInfo {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .barTitle {
    box-sizing: border-box;
    font-size: 12;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
  }
}